body {
    font-family: 'Abril Fatface', cursive;
    background-image: url(images/halftone-yellow.png);
}

h1 {
    text-align: center;
    margin: 10px;
    font-size: 35px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

.grid-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#computer, #player {
    border: 3px solid black;
    height: 375px;
    width: 350px;
    float: left;
}

#playPic, #compPic {
    width: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#score {
    border: 3px solid black;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

li {
    font-size: 20px;
    margin-left: 180px;
}

#all-hands {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
}

button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
}

input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 25px;
    width: 200px;
}
